@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: #1E201E;
  color: #ECDFCC;
}

h2 {
  font-size: 30px;
}

a {
  color: #ECDFCC
}

p {
  text-align: justify;
}

.header {
  display: flex;
  border: solid;
  border-radius: 12px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 16px;

}

.header-links {
  font-family: 'Share Tech Mono', sans-serif;
  text-decoration: underline;
  font-size: 20px;
}

.table-of-contents-field {
  text-align: center;
  font-family: 'Share Tech Mono', sans-serif;
}


.article-field {
  font-family: 'Share Tech Mono', sans-serif;
}

.article-link {
  color: #ECDFCC;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
  display: block;
}

.d_lab_logo {
  display: inline-block; 
  width: fit-content;
  position: sticky;
  bottom: 0;
  border: solid;
  border-width: 1px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  left: 50%;
}

